<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD36MZnDH3V-azhqX0g622Z8yM9iq9cI30</string>
	<key>GCM_SENDER_ID</key>
	<string>485871613569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtime</string>
	<key>PROJECT_ID</key>
	<string>new1-26233</string>
	<key>STORAGE_BUCKET</key>
	<string>new1-26233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485871613569:ios:e6117fcf0cd2683bd5ff80</string>
	<key>DATABASE_URL</key>
	<string>https://new1-26233-default-rtdb.firebaseio.com</string>
</dict>
</plist>